.card-wrapper
    display: none
    width: 100%
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%)
    clip: rect(0px, auto, auto, 0px)
    transform: translate(-50%, -50%) rotateX(20deg) rotateY(59.33333337deg) rotateZ(0deg)
    z-index: 1
    +break($break-l)
        width: auto

.card-boxshadow
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) rotateX(20deg) rotateY(59.33333337deg) rotateZ(0deg)
    background: linear-gradient(to right, #36D1DCCC, #5B86E5CC);
    filter: blur(5px)
    z-index: 0

.card
    display: none
    position: relative
    +break($break-m)
        width: 600px
        height: 300px


.card-text
    padding: 40px 25px
    font-size: 3rem
    color: white
    text-shadow: 1px -1px black,  2px -2px black, 3px -3px black,  4px -4px black, 5px -5px black
    // text-shadow: 1px -1px black,  2px -2px black, 3px -3px black,  4px -4px black, 5px -5px black, 6px -6px black


.card-filter
    position: absolute
    top: -10px
    left: -10px
    width: 120%
    height: 120%
    overflow: hidden
    background: linear-gradient(to right, #36D1DCCC, #5B86E5CC);
    filter: blur(10px)
    z-index: -1  

.card-arrow
    display: none
    position: absolute
    right: 40px
    bottom: 10px
    font-size: 2rem
    color: white
    text-shadow: 1px -1px black,  2px -2px black, 3px -3px black,  4px -4px black, 5px -5px black

.card-arrow--bounce  
  animation: card-arrow--bounce 2s infinite;
 

@keyframes card-arrow--bounce  
  0%, 20%, 50%, 80%, 100%  
    transform: translateY(0);
   
  40%  
    transform: translateY(-15px);
   
  60%  
    transform: translateY(-5px);
   
.card-close
  display: none
  position: absolute
  right: 40px
  top: 10px
  font-size: 2rem
  color: white
  text-shadow: 1px -1px black,  2px -2px black, 3px -3px black,  4px -4px black, 5px -5px black